@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.links {
  text-transform: uppercase;
}

.sign {
  color: white;
}

.circle {
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.categories-heading h1 {
  font-family: Rock Salt, cursive;
  word-spacing: 0.5rem;
}

/* sign up / login button */
button .links {
  background-color: #ee5600;
}

/* banner */
.banner {
  background-image: linear-gradient(10deg, #be5050 50%, white 50%);
}

.group1 .box1 {
  z-index: 2;
  position: relative;
  right: 50px;
}

.group1 .box2 {
  z-index: 1;
  position: absolute;
  transform: matrix(0.98, 0.18, -0.19, 0.98, 0, 0);
  left: 100px;
  top: 150px;
}

.testimonials {
  font-weight: 700;
  box-sizing: border-box;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 5rem;
  line-height: 169px;
  opacity: 0.59;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #000000;
}

@media screen and (max-width: 550px) {
  .testimonials {
    font-size: 2.4rem;
    margin: 0 auto;
  }
}

/* user profile page */
.user-profile {
  border-radius: 110px;
}

@media screen and (max-width: 600px) {
  .user-profile {
    border-radius: 0%;
    margin: 0 auto;
  }
}

/* Carousel card */
.wrapper {
  max-width: 1920px;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  /* transform: translate(-50%, -50%); */
}

.app {
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

.card {
  min-width: 25%;
  overflow: hidden;
  border: 3px solid #eee;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.card h2 {
  text-transform: uppercase;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0 5px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media screen and (max-width: 900px) {
  .card {
    min-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .card {
    min-width: 100%;
  }
}

/* login page */
.rec1 {
  background-color: #be5050;
  left: -50.96%;
  right: 82.62%;
  top: 10.04%;
  bottom: -20.09%;
  border-radius: 50px;
  transform: rotate(-38.02deg);
}

.rec2 {
  left: 50.66%;
  bottom: -50.47%;
  width: 640px;
  height: 1200px;
  background-color: #ddd4d5;
  transform: rotate(-40.02deg);
  border-radius: 50px;
}

/* footer */
footer {
  background-color: black;
  color: white;
}
